# Gradle
.gradle/
build/
app/build/
local.properties
*.iml

# Android
*.ap_
*.aab
!Paperpilot*.apk
!APK_README.txt

# IDE
.idea/
*.iws
*.ipr
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# Temp
tmp/
